$cream-1: #FFFDF9;
$cream-2: #F7F2E7;
$cream-3: #D8D3CD;
$grey-1: #797A7E;
$grey-2: #3A3B3B;
$green-1: #E0ECE4;
$green-2: #C8DCCE;
$green-3: #7FA389;
$green-4: #4B6D55;
$red-1: #F8C2C2;
$red-2: #D87979;
$red-3: #CC5353;